@font-face {
    font-family: $DMserif;
    src: url(../Fonts/DMSerifDisplay-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: $PuplicBold;
    src: url(../Fonts/PublicSans-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: $PuplicRegular;
    src: url(../Fonts/PublicSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: $Roboto;
    src: url(../Fonts/RobotoMono-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}