$DMserif: "Serif-Regular";
$PuplicBold: "PublicSans-Bold";
$PuplicRegular: "PublicSans-Regular";
$Roboto: "Roboto-Regular";
// color
$darkpink70: #BA4270;
$whiteFE: #FBFCFE;
$juanblue6B: #36536B;
$mirajblue2F: #1B262F;
$charmpink97: #DA6D97;
$lightjuanblue94: #6C8294;