.header {
    padding: 40px 165px;
    &__wrapper {
        @include flex (space-between);
    }
    &__left {
        @include flex (space-between);
        gap: 64px;
    }
    &__list {
        @include flex (space-between);
        gap: 40px;
    }
    &__item a {
        font-family: $PuplicBold;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
        mix-blend-mode: normal;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
    &__btn {
        @include button1;
    }
    &__mlogo {
        display: none;
    }
}

@media only screen and(max-width:768px) {
    .header {
        padding: 45px 39px;
    }
}

@media only screen and(max-width:375px) {
    .header {
        padding: 25px 0px;
        &__nav {
            display: none;
        }
        &__btn {
            display: none;
        }
        &__mlogo {
            display: block;
        }
    }
}