.header {
    padding: 40px 165px;
    // background-image: url(../../Images/png/header-bg.png);
    // background-repeat: no-repeat;
    // background-position: right;
    // top: 220px;
    &__wrapper {
        @include flex (space-between);
    }
    &__left {
        @include flex (space-between);
        gap: 64px;
    }
    &__list {
        @include flex (space-between);
        gap: 40px;
    }
    &__item a {
        font-family: $PuplicBold;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
        mix-blend-mode: normal;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
    &__btn {
        @include button1;
    }
    &__mlogo {
        display: none;
    }
    &__right .mobil {
        display: none;
    }
}

.header__right {
    position: relative;
}

.mobil {
    top: 2px;
    bottom: 100%;
    width: 300px;
    height: 667px;
    position: fixed;
    background: #2C6269;
    transition: all 0.5s linear;
    transform: translateX(100%);
    background: #1B262F;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.mobil-item {
    font-family: $PuplicBold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FBFCFE;
    mix-blend-mode: normal;
    opacity: 0.7;
    margin-top: 25px;
    margin-bottom: 32px;
    margin-left: -40px;
}

.mobil button {
    display: block;
    margin-left: 38px;
}

.mobil-hr {
    width: 218px;
    height: 1px;
    margin-left: 12px;
    background: #FBFCFE;
    mix-blend-mode: normal;
    opacity: 0.15;
    margin-top: 24px;
}

.inputx {
    width: 20px;
    height: 20px;
    margin-left: 200px;
    font-size: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 56px;
    margin-bottom: 10px;
}

#input {
    display: none;
}

#input2 {
    display: none;
}

#input:checked~.mobil {
    transform: translateX(-200px);
}

#input2:checked~.mobil {
    transform: translateX(100%);
}

#input {
    display: none;
}

#input:checked~.header__right img {
    transform: rotateZ(180deg);
}

@media only screen and(max-width:768px) {
    .header {
        padding: 45px 39px;
    }
}

@media only screen and(max-width:375px) {
    .header {
        padding: 25px 0px;
        &__nav {
            display: none;
        }
        &__btn {
            display: none;
        }
        &__mlogo {
            display: block;
        }
        &__right .mobil {
            display: block;
        }
    }
}