.hero {
    padding: 24px 165px;
    &__wrapper {
        @include flex (space-between);
    }
    &__title {
        max-width: 546px;
        max-height: 243px;
        font-family: $DMserif;
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -0.553846px;
        color: $juanblue6B;
        margin-bottom: 21px;
    }
    &__input {
        padding: 16px 276px 14px 27px;
        background: $whiteFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        font-size: 15px;
        line-height: 18px;
        color: $juanblue6B;
        mix-blend-mode: normal;
        opacity: 0.8;
        border: 0;
        background: $whiteFE;
        &:hover {
            color: $juanblue6B;
        }
    }
    &__form {
        position: relative;
    }
    &__btn {
        @include button1;
        margin-left: -173px;
        position: absolute;
        z-index: 3;
    }
    &__subtitle {
        color: $lightjuanblue94;
        margin: 16px 27px;
        span {
            font-weight: 600;
        }
    }
}

@media only screen and(max-width:768px) {
    .hero {
        padding: 24px 15px;
        &__wrapper {
            flex-direction: column-reverse;
            text-align: center;
        }
        &__title {
            max-width: 546px;
            max-height: 122px;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
        }
    }
}

@media only screen and(max-width:375px) {
    .hero {
        padding: 0px 5px;
        &__title {
            max-width: 317px;
            max-height: 108px;
            font-size: 32px;
            line-height: 36px;
            text-align: center;
            margin-left: 30px;
        }
        &__input {
            padding: 14px 100px 14px 16px;
            margin-top: 24px
        }
        &__subtitle {
            margin: 86px 27px;
        }
        &__btn {
            margin-left: 1px;
            position: relative;
            padding: 16px 105px;
            top: 47px;
        }
    }
}